*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #252525;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:  #252525;
}
body ul,li {
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}
#button-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
    
}
.button{
	
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border: none;
    width: 333px;
    height: 50px;
    color: white;
   

}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#messages{
    display: flex;
    flex-direction: column;
    width: 295px;
    align-items: flex-end;
    justify-content: end;
}
#messages div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 295px;
    
}
#messages-section ul{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#messages-section ul li{
   margin-bottom: 10px;
   color: white;}
#newMessage-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#newMessage-section h1{
    color: #ffffffee;
}
#newMessage-section form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
    
    
}
#newMessage-section form input{
    outline:none;
    
    
}

#newMessage-section form h2{
    font-size: 14px;
}
#newMessage-section form div{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 10px;
    
}
#button-submit{
    background-color: #000;
    width:50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgba(100, 100, 100,0.5);
    
}

#imgSend{
    width: 20px;
    height: 20px;
    
   
}

#newMessage-section form div h2{
    color: #ffffffee;
    
}
#form-newMessage {
    display: flex;
    align-items: center;
    justify-items: center;
}
input{
    width: 225px;
    background-color: #fafafa;
    border-color: #fafafa; 
    border-style: solid; 
    border-radius: 30px;
    padding:10px;  
    box-shadow: 2px 2px 2px 2px rgba(100, 100, 100,0.5);
}

.messagesInd{
    padding:15px;
    background-color:  #fafafa; 
    border-radius: 8px;
    width: 225px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px rgba(100, 100, 100,0.5);
    border-bottom-left-radius: 0;
}

.messagesInd span button img{
  margin-right: 10px;   
}

#rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 12px;
    width: 100%;
    height: 50px;
    background-color: black;
    
}

